################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/OGstudy/OGstudy/source/youkuclient_setup_7.3.4.11300.exe
